<div id="<%= dom_id beiapp %>">
  <p>
    <strong>Name:</strong>
    <%= beiapp.name %>
  </p>

  <p>
    <strong>Beispace:</strong>
    <%= beiapp.beispace_id %>
  </p>

  <p>
    <strong>Application stack:</strong>
    <%= beiapp.application_stack %>
  </p>

  <p>
    <strong>Code stack:</strong>
    <%= beiapp.code_stack %>
  </p>

  <p>
    <strong>Code stack version:</strong>
    <%= beiapp.code_stack_version %>
  </p>

  <p>
    <strong>Primary dependency stack:</strong>
    <%= beiapp.primary_dependency_stack %>
  </p>

  <p>
    <strong>Database stack:</strong>
    <%= beiapp.database_stack %>
  </p>

  <p>
    <strong>Database version:</strong>
    <%= beiapp.database_version %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= beiapp.summary %>
  </p>

  <p>
    <strong>Owner name:</strong>
    <%= beiapp.owner_name %>
  </p>

  <p>
    <strong>Owner contact phone:</strong>
    <%= beiapp.owner_contact_phone %>
  </p>

  <p>
    <strong>Owner location:</strong>
    <%= beiapp.owner_location %>
  </p>

  <p>
    <strong>Owner website:</strong>
    <%= beiapp.owner_website %>
  </p>

  <p>
    <strong>Owner contact email:</strong>
    <%= beiapp.owner_contact_email %>
  </p>

  <p>
    <strong>Owner social twitter:</strong>
    <%= beiapp.owner_social_twitter %>
  </p>

  <p>
    <strong>Owner social github:</strong>
    <%= beiapp.owner_social_github %>
  </p>

  <p>
    <strong>Owner social instagram:</strong>
    <%= beiapp.owner_social_instagram %>
  </p>

</div>
