<div id="<%= dom_id onboarding %>">
  <p>
    <strong>User:</strong>
    <%= onboarding.user_id %>
  </p>

  <p>
    <strong>Subdomain:</strong>
    <%= onboarding.subdomain %>
  </p>

  <p>
    <strong>Uuid:</strong>
    <%= onboarding.uuid %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= onboarding.status %>
  </p>

  <p>
    <strong>State:</strong>
    <%= onboarding.state %>
  </p>



</div>
