<div id="<%= dom_id app %>">
  <p>
    <strong>User:</strong>
    <%= app.user_id %>
  </p>

  <p>
    <strong>Subdomain:</strong>
    <%= app.subdomain %>
  </p>

  <p>
    <strong>Anchor url:</strong>
    <%= app.anchor_url %>
  </p>

  <p>
    <strong>Back up url:</strong>
    <%= app.back_up_url %>
  </p>

  <p>
    <strong>Main url:</strong>
    <%= app.main_url %>
  </p>

  <p>
    <strong>Github account:</strong>
    <%= app.github_account %>
  </p>

  <p>
    <strong>Github repo name:</strong>
    <%= app.github_repo_name %>
  </p>

  <p>
    <strong>Github owner:</strong>
    <%= app.github_owner %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= app.status %>
  </p>

  <p>
    <strong>App dashboard:</strong>
    <%= app.app_dashboard_id %>
  </p>

</div>
