<div id="<%= dom_id beispace %>">
  <p>
    <strong>User:</strong>
    <%= beispace.user_id %>
  </p>

  <p>
    <strong>Subdomain:</strong>
    <%= beispace.subdomain %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= beispace.designation %>
  </p>

  <p>
    <strong>App count:</strong>
    <%= beispace.app_count %>
  </p>

</div>
